/* r.a.d.input DEFAULT skin - Last Update April 22, 2007 */

.radHoverCss_Default,
.radEnabledCss_Default,
.radDisabledCss_Default,
.radEmptyMessageCss_Default,
.radFocusedCss_Default,
.radNegativeCss_Default,
.radInvalidCss_Default
{
	font: normal 11px Arial, Verdana, Tahoma, Sans-Serif;
	background: white;
	vertical-align: middle;
}

.radHoverCss_Default
{
	color: #242424;
	border: solid 1px #c6c6c6;
}

.radEnabledCss_Default
{
	color: #424242;
	border: solid 1px #aeaeae;
	
}

.radDisabledCss_Default
{
	color: #ccc;
	border: solid 1px #aeaeae;
}

.radEmptyMessageCss_Default
{
	color: #424242;
	border: solid 1px #aeaeae;
}

.radFocusedCss_Default
{
	color: #242424;
	border: solid 1px #777;
}

.radNegativeCss_Default
{
	color: #424242;
	border: solid 1px #aeaeae;
}

.radInvalidCss_Default
{
	color: #ff9000;
	border: solid 1px #ff9000;
}

.radLabelCss_Default
{
	font-family: normal 11px Arial, Verdana, Tahoma, Sans-Serif;
}

/* input buttons */
.radInpButtonCss_Default a
{
    /**/
}

.radInpButtonCss_Default img
{
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1; opacity: 1;
    border: 0;
    position: relative; top: 4px;
}

.radInpButtonCss_Default a:hover img
{
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    -moz-opacity: 0.5; 
    opacity: 0.5;
}

.radSpinUpCss_Default a,
.radSpinDownCss_Default a
{
	/**/
}

.radSpinUpCss_Default
{
	position: relative;
	top: -8px; left: -6px;
}

.radSpinDownCss_Default
{
	position: relative;
	left: 1px; top: 3px;
}

.radSpinUpCss_Default a img,
.radSpinDownCss_Default a img
{
	width: 7px; height: 4px;
	border: 0;
}

.radSpinUpCss_Default a:hover img,
.radSpinDownCss_Default a:hover img
{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	opacity: .5; -moz-opacity: .5;
}
/* end of input buttons */

.radHint_Default 
{
	background: infobackground;
	margin-top: 5px;
	border: solid 1px black;
	text-align: left;
	overflow: auto; 
}

.radHint_Default a,
.radHint_Default a:visited,
.radHint_Default a:hover
{
	margin: 2px;
	color: black;
	text-decoration: none;
	font-size: small;
}