.RadMenu_PBContemporary
{
	background:#ADC9F7;
	font:menu;
	line-height:20px;
	z-index:65535;
}

.RadMenu_PBContemporary .rootGroup
{
	margin: 2px 5px;
	z-index:65535;
}

.RadMenu_PBContemporary_Context
{
	background:none;
	padding:0;
	z-index:65535;
}

.RadMenu_PBContemporary .link
{
	color:Black;
	text-decoration:none;
	padding:3px 8px;
}

.RadMenu_PBContemporary .vertical .separator 
{
	padding:0;
	margin:1px 0;
}

.RadMenu_PBContemporary .vertical .separator span.text
{
	border-top:1px solid #6A8CCB;
	margin-left: 28px;
}

.RadMenu_PBContemporary .rootGroup .focused,
.RadMenu_PBContemporary .rootGroup .link:hover
{
	/*background:#FFD59A url(Img/RootItemFocusedBkg.gif) left top repeat-x;*/
	border:1px solid #002D96;
	padding:2px 7px;	
}

.RadMenu_PBContemporary .rootGroup .disabled:hover,
.RadMenu_PBContemporary .rootGroup .disabled
{
	background:none;
	border:0;
	padding:3px 8px;
	color: #666;
}

.RadMenu_PBContemporary .horizontal .expanded,
.RadMenu_PBContemporary .horizontal .expanded:hover
{
	/*background:#93B5E7 url(Img/RootItemBkg.gif) left top repeat-x;*/
	border:1px solid #002D96;
	padding:2px 7px;
	padding-bottom:3px;
	border-bottom:0;
}

.RadMenu_PBContemporary .vertical .expanded,
.RadMenu_PBContemporary .vertical .expanded:hover
{
	/*background:#93B5E7 url(Img/x.gif) left top repeat-x;*/
	border:1px solid #002D96;
	padding:2px 7px;
}

.RadMenu_PBContemporary .group
{
	border:1px solid #002D96;
	float:left;
	background-color: #F6F6F6;
	/*background: #F6F6F6 url(Img/GroupBkg.gif) repeat-y;*/
}

.RadMenu_PBContemporary_rtl .group
{
	background-position: right;
}

.RadMenu_PBContemporary .group .link
{
	padding:2px;
}

.RadMenu_PBContemporary .group .item
{
	margin:0;
	padding:1px;
	z-index:65535;
}

.RadMenu_PBContemporary .group .link:hover
{
	/*background-color:#FFEEC2;*/
	/*background-color:#F6F6F6;
	background-image:none;*/
	border:1px solid #002D96;
	padding:1px;
	/*filter: alpha(opacity=60);
	opacity:0.6;*/
}

.RadMenu_PBContemporary .group .focused,
.RadMenu_PBContemporary .group .expanded
{
	/*background-color:#FFEEC2;*/
	background-color:#F6F6F6;
	background-image:none;
	border:1px solid #002D96;
	padding:1px;
}

.RadMenu_PBContemporary .group .disabled:hover,
.RadMenu_PBContemporary .group .disabled
{
	background-color:transparent;
	background-image:none;
	border:0;
	padding:2px;
	color: #ccc;
}

.RadMenu_PBContemporary .group .text
{
	padding: 0px 46px 0px 25px !important;
	text-align:left;
}

.RadMenu_PBContemporary .text
{
	padding: 0px !important;
	line-height: 20px;
}

.RadMenu_PBContemporary .expandLeft,
.RadMenu_PBContemporary .expandRight
{
	background:transparent url(img/groupImage.gif) right center no-repeat;
	padding-right:10px;
}

/* --- not used in PB ---
.RadMenu_PBContemporary_rtl .expandLeft,
.RadMenu_PBContemporary_rtl .expandRight
{
	background:transparent url(img/groupImageRTL.gif) left center no-repeat;
}

.RadMenu_PBContemporary .topArrow,
.RadMenu_PBContemporary .topArrowDisabled,
.RadMenu_PBContemporary .rightArrow,
.RadMenu_PBContemporary .rightArrowDisabled,
.RadMenu_PBContemporary .leftArrow,
.RadMenu_PBContemporary .leftArrowDisabled,
.RadMenu_PBContemporary .bottomArrow,
.RadMenu_PBContemporary .bottomArrowDisabled
{
	height:16px;
}

.RadMenu_PBContemporary .rightArrow,
.RadMenu_PBContemporary .rightArrowDisabled
{
	background: #F6F6F6 url('img/right.gif') center center no-repeat;
	width:25px;
	height:100%;
}

.RadMenu_PBContemporary .leftArrow,
.RadMenu_PBContemporary .lefttArrowDisabled
{
	background: #F6F6F6 url('img/left.gif') center center no-repeat;
	width:25px;
	height:100%;
}

.RadMenu_PBContemporary .topArrow,
.RadMenu_PBContemporary .topArrowDisabled
{
	background: #e3efff url('img/top.gif') center center no-repeat;
	width: 100%;
}

.RadMenu_PBContemporary .bottomArrow,
.RadMenu_PBContemporary .bottomArrowDisabled
{
	background: #e3efff url('img/bottom.gif') center center no-repeat;
	width: 100%;
}
*/