body {
	font-size: 10pt;
	font-family: Tahoma;
}

.table10 {
	font-size: 10pt;
}

.table10 td, th, input {
	font-size: 10pt;
}

.printList {
	font-size: 10pt;
}

.printList th
{
	background-color:#507CD1;
	color: White; 
}

.dwPageBar
{
	font-family: Tahoma; 
	font-size: 11px; 
}

.dwPageBar td
{
	font-family: Tahoma; 
	font-size: 11px; 
}

.dwPageBar input, select
{
	font-family: Tahoma; 
	font-size: 10px; 
}

.flatButton 
{
	background-color:ButtonFace;
	border-right: 1px solid;
	border-top: 1px solid; 
	border-left: 1px solid;
	border-bottom: 1px solid;
	border-color: #003C74;
}

.flatButtonHover 
{
	background-color:;
}

#PB_MASK__DIV {
	background-color:transparent;
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:10000000;
	background-image:url(images/null.gif); /* required by MSIE to prevent actions on lower z-index elements */
}

.Button      { cursor: pointer; border-left:1px solid #FFFFFF; border-right:1px solid #A39A89; border-top:1px solid #FFFFFF; border-bottom:1px solid #A39A89; background-color: #ECE9D8; padding-left:8; padding-right:8; padding-top:1; padding-bottom:1}
.ButtonDown  { cursor: pointer; border-right:1px solid #FFFFFF; border-left:1px solid #A39A89; border-bottom:1px solid #FFFFFF; border-top:1px solid #A39A89; background-color: #ECE9D8; padding-left:8; padding-right:8; padding-top:1; padding-bottom:1}
.listviewitem {}
.selectedlistviewitem { border:1px dotted #A9A9A9; background-color : highlight; color : white }
.ListviewHeader { border-bottom:1px solid #000000; }

.select
{
	margin: 0 2 0 2; 
	font-size: 8pt;
	font-family: MS Shell Dlg;
}

.MouseOut 
{
	border: 1px solid #D6D3CE;
	padding: 1px;
}

.MouseOver
{
	border: 1px solid navy;
	background-color:#B5BED6;
	cursor:pointer;
}

.MouseDown
{
	border: 1px solid navy;
	background-color:#8492B5;
	cursor:pointer;
	Filter: Glow(Color=#00FF00, Strength=20);
}

.SelectNode
{
	background-color:#B5B5B5;
}

.Node
{
	padding:0px 0px 0px 2px;text-decoration:none;font-family:Tahoma;font-size:10pt;
}

.TraditionalMenuOverall
{
	font-size:11px;
	font-family: Tahoma;
	background-color: ButtonFace;
	color:Black;
  cursor:default;
	z-index:65535;
}

.TraditionalMenuGroup
{
}

.TraditionalMenuSubGroup
{
  border-width:2px; 
  border-style:outset;
}

.TraditionalMenuItem
{
	border-style:solid;
	border-color:ButtonFace;
	border-width:1px;
	padding:2px;
}

.TraditionalMenuSubItem
{
	border-style:solid;
	border-color:ButtonFace;
	border-width:1px;
	padding:2px;
	padding-right:12px;
}

.TraditionalMenuItemOver 
{
	border-style:inset;
	border-color:white;
}

.TraditionalMenuSubItemOver
{
	background-image: none;
	color: white;
	background-repeat: no-repeat;
	background-color: #000080;
}


.Translucence
{
	FILTER: progid:DXImageTransform.Microsoft.Alpha( style=0,opacity=50);
}

.ContemporaryMenuOverall
{
  cursor:default;
	z-index:65535;
}

.ContemporaryMenuGroup
{
}

.ContemporaryMenuSubGroup
{
  border-width:2px; 
  border-style:outset;
}

.ContemporaryMenuItem
{
	border-style:solid;
	border-width:1px;
	padding:3px;
}

.ContemporaryMenuSubItem
{
	border-style:solid;
	border-width:1px;
	padding:2px;
	padding-right:12px;
}

.ContemporaryMenuItemOver
{
}

.ContemporaryMenuSubItemOver
{
}






.MenuGroup
{
  background-color:#cccccc;
  border-style:none;
}

.MenuSubGroup
{
  background-color:#cccccc;
  border:2px; 
  border-color:#E7E7E7; 
  border-style:outset;
}

.MenuItem
{
  font-family:MS Sans Serif; 
  font-size:9px; 
  padding:3px;
  padding-left:12px;
  padding-right:12px;
  cursor:default;
}

.MenuItemOver 
{
  background-color:#000080; 
  color:white; 
  font-family:MS Sans Serif; 
  font-size:9px; 
  padding:3px;
  padding-left:12px;
  padding-right:12px;
  cursor:default;
}

.DisabledMenuItem
{
  color:Gray;
  font-family:MS Sans Serif; 
  font-size:9px; 
  padding:3px;
  padding-left:12px;
  padding-right:12px;
  cursor:default;
}

.DisabledMenuItemOver 
{
  background-color:#000080; 
  color:gray; 
  font-family:MS Sans Serif; 
  font-size:9px; 
  padding:3px;
  padding-left:12px;
  padding-right:12px;
  cursor:default;
}

.MenuBreak
{
    padding:0px; 
}

.Left_DefaultTab
{
	border-top-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-left-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-color:#91A7B4;
	border-bottom-color:#91A7B4;
	border-left-color:#91A7B4;
	border-right-color:#91A7B4;
	background-color:#D1E0FD;;
}

.Left_SelectedTab
{
	border-top-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	
	border-top-color:#91A7B4;
	border-bottom-color:#91A7B4;
	border-right-color:#FCFCFE;
	
	border-top-width:1px;
	border-bottom-width:1px;
	border-right-width:0px;	
}

.Top_DefaultTab
{
	border-top-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-left-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	border-top-color:#91A7B4;
	border-bottom-color:#91A7B4;
	border-left-color:#91A7B4;
	border-right-color:#91A7B4;
}

.Top_SelectedTab
{
	border-top-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-left-style:solid;
	
	border-top-color:#FCFCFE;
	border-bottom-color:#FCFCFE;
	border-left-color:#91A7B4;
	border-right-color:#91A7B4;
	
	border-top-width:2px;
	border-bottom-width:0px;
	border-left-width:1px;
	border-right-width:1px;
	background-color:#FCFCFE;

}

.SelTabLeftCorner
{
  position:absolute;
  font-size:0pt;
  width:3px;
  height:4px;top:-2px;
  left:-1px;
  border-style:none;
  background:url(./images/tab_top_left.png) no-repeat;
}

.DefaultTabLeftCorner
{
 position:absolute;
  font-size:0pt;
  width:3px;
  height:3px;top:-2px;
  left:-2px;
  border-style:none;
  background-color:#FCFCFE;
  background:url(./images/def_top_left.PNG) no-repeat;

}

.SelTabRightCorner
{
  position:absolute;
  font-size:0pt;
  top:-2px;
  height:4px;
  width:3px;
  border-style:none;
  background:url(./images/tab_top_right.png) no-repeat ;
}

.DefaultSelTabRightCorner
{
  position:absolute;
  font-size:0pt;
  top:-1px;
  height:3px;
  width:6px;
  border-style:none;
  background:url(./images/def_top_right.PNG) no-repeat ;
}

.SelTabTop
{
  position:absolute;
  font-size:0pt;
  top:-2px;
  left:2px;
  height:3px;
  border-style:none;
  background:url(./images/tab_top.png) no-repeat ;
}

.SelLeftTabTopCorner
{
  position:absolute;
  font-size:0pt;
  width:3px;
  height:3px;
  top:-1px;
  left:0px;
  border-style:none;
  background:url(./images/tab_left_top.png) no-repeat;
}

.SelLeftTabBottomCorner
{
  position:absolute;
  font-size:0pt;
  left:0px;
  height:3px;
  width:3px;
  border-style:none;
  background:url(./images/tab_left_bottom.png) no-repeat ;
}

.SelLeftTab
{
  position:absolute;
  font-size:0pt;
  top:0px;
  left:0px;
  width:3px;
  border-style:none;
  background:url(./images/tab_left.png) no-repeat ;
}


.TabContainer
{
	
}

.TabPage
{
	background-repeat:no-repeat;

	border-top-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-left-style:solid;

	border-top-color:#91A7B4;
	border-bottom-color:#91A7B4;
	border-left-color:#91A7B4;
	border-right-color:#91A7B4;
	border-top-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
}

.LeftScrollButton
{	
	text-align:center;
	background-repeat:no-repeat;
	border-width:1px;
	border-color:#B6CDFB;
	background:url(./images/scr_left_xp.png ) #D1E0FD  center no-repeat;
}

.RightScrollButton
{	
	text-align:center;
	background-repeat:no-repeat;
	border-width:1px;
	border-color:#B6CDFB;
	background:url(./images/scr_right_xp.png ) #D1E0FD center no-repeat;
}

.UpScrollButton
{	
	text-align:center;
	background-repeat:no-repeat;
	border-width:1px;
	border-color:#B6CDFB;
	background:url(./images/scr_up_xp.png ) #D1E0FD center no-repeat;
}

.DownScrollButton
{	
	text-align:center;
	background-repeat:no-repeat;
	border-width:1px;
	border-color:#B6CDFB;
	background:url(./images/scr_down_xp.png ) #D1E0FD center no-repeat;
}

.DisabledDownScrollButton
{	
	text-align:center;
	background-repeat:no-repeat;
	border-width:1px;
	border-color:#B6CDFB;
	background:url(./images/disable_scr_down_xp.png ) #ECE9D8 center no-repeat;
}

.VScrollBarThumb
{
	border-width:1px;
	border-style:outset;
	text-align:center;
	border-color:#B6CDFB;
	background-color:#D1E0FD;
	background:url(./images/v_thumb_back_ground_xp.bmp ) #D1E0FD center no-repeat;
}

.HScrollBarThumb
{
	border-width:1px;
	border-style:outset;
	text-align:center;
	border-color:#B6CDFB;
	background-color:#D1E0FD;
	background:url(./images/h_thumb_back_ground_xp.bmp ) #D1E0FD center no-repeat;
}

.ScrollBarArea
{
	border-width:thin;
	border-style:none;
	background-color:#F5F4EF;	
}

.VTrackBarSlider
{
	font-size:0;
	border-top-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-left-style:solid;

	border-top-width:1px;
	border-bottom-width:1px;
	border-right-width:3px;
	border-left-width:3px;
	
	border-top-color:#B5C4CD;
	border-bottom-color:#B5C4CD;
	border-left-color:#63CD62;
	border-right-color:#63CD62;
	background-color:#ECE9D8;
}

.HTrackBarSlider
{
	font-size:0;
	border-top-style:solid;
	border-bottom-style:solid;
	border-right-style:solid;
	border-left-style:solid;

	border-top-width:3px;
	border-bottom-width:3px;
	border-right-width:1px;
	border-left-width:1px;
	
	border-left-color:#B5C4CD;
	border-right-color:#B5C4CD;
	border-top-color:#63CD62;
	border-bottom-color:#63CD62;
	background-color:#ECE9D8;
}

.TrackBarArea
{
	font-size:1;
	border-width:1pt;
	border-style:inset;
	background-color:#F2F1E9;	
}

.ProgressBarArea
{
	font-size:1;
	border-width:thin;
	border-style:groove;
	background-color:#fafafa;
}	

.ProgressArea
{
	font-size:1;
	border-style:none;
	background-color:#47C446;	
}

TD.NoUnderline A 
{
    text-decoration:none;
}
#AWMOD
{
  background-color:#FFFFE1;
	background-repeat:no-repeat;
  left:600px;
  top:500px;
  height:35px;
  width:200px;
  z-index:99999998;
  position: absolute;
  border-style:none;;
  display:block;
  text-align:center;
  margin-left:auto;
	margin-top:auto;
	margin-right:auto;
	margin-bottom:auto;
}
.AWMIDS
{
	position:absolute;
  left:0px;
  top:0px;
  z-index:99999999;
  position: absolute;
  background-position-x:center;
  background-position-y:center;
	margin-left:auto;
	text-align:center;
	background-image:url('./images/ajax-loader.gif');
  background-color:#FFFFE1;
	background-repeat:no-repeat;
	border-width:1px;
  border-style:solid;
  border-color:#91A7B4;
}
